<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- uncomment your version of POE here -->

    <!-- for testing -->
    <add key="cports_command_line" value="notepad.exe"/>
    
    <!-- STEAM versions -->
    <!-- 64 bit -->
    <!--<add key="cports_command_line" value="cports.exe /close * * * * PathOfExile_x64Steam.exe"/>-->    
    <!-- 32 bit -->
    <!--<add key="cports_command_line" value="cports.exe /close * * * * PathOfExileSteam.exe" />-->
    
    <!-- non-STEAM versions -->
    <!-- 64 bit -->
    <!--<add key="cports_command_line" value="cports.exe /close * * * * PathOfExile_x64.exe" />-->
    <!-- 32 bit -->
    <!--<add key="cports_command_line" value="cports.exe /close * * * * PathOfExile.exe" />-->
    
      
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
</configuration>
